//
// Pages
//
// Styles specific to individual pages.
//

@import "planner";

.dishes-page {

    padding: 20px;

    ul.dishes {
        list-style: none;
        margin: 0;
        padding: 0;
        .clearfix;

        li {
            float: left;
            width: 350px;
            border: 2px solid transparent;

            .image {
                padding: 10px 0;
                text-align: center;
                img { 
                    width: 95%;
                    .border-radius(999px);
                }
            }

            &:hover { 
                border-color: #ccc;
            }
        }
    }

}