//
// Pages
//
// Styles specific to individual pages.
//

@import "planner";
@import "dishes";
@import "shopping";

.home-page {

    h1 { 
        display: block;
        background: white;
        .border-radius(9999px);
        width: 200px;
        height: 200px;
        margin: 0 auto;
        line-height: 200px;
        text-align: center;
    }

}