<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <p class="muted credit">Made with <i class="icon-heart"></i> for Rebecca Georges by Samuel Georges<br /></p>
        </div>
        <div class="col-sm-4 text-center">
            <p class="muted credit">Powered by <a href="http://octobercms.com/" target="_blank"><i class="icon-leaf"></i> October CMS</a></p>
        </div>
        <div class="col-sm-3">
            <ul class="list-inline pull-right">
                <li><a href="https://github.com/daftspunk/dishsmith/issues" target="_blank">Suggestions</a></li>
                <li><a href="http://twitter.com/daftspunk" target="_blank">Feedback</a></li>
                <li><a href="javascript:;" data-request="onLogout">Logout</a></li>
            </ul>
            
        </div>
    </div>
</div>
