<form id="formDishPreview">

    <input type="hidden" name="session_key" value="{{ sessionKey }}" />
    {% if dish.id %}<input type="hidden" name="dish_id" value="{{ dish.id }}" />{% endif %}

    <div 
        id="partialDishesPreview"
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
        data-control="fileupload"
        data-upload-input="#inputFileData"
        data-upload-link="#buttonUploadPic"
        data-unique-id="X_DISH_PIC_UPLOAD">
        {% partial 'dishes/preview' %}
    </div>

</form>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
    <form
        data-request="onAddIngredient"
        data-request-update="'dishes/ingredients': '#partialDishesIngredients'"
        data-request-success="clearIngredientsForm()">
        <input type="hidden" name="session_key" value="{{ sessionKey }}" />
        {% if dish.id %}<input type="hidden" name="dish_id" value="{{ dish.id }}" />{% endif %}

        <div class="form-group btn-group btn-group-justified">
            <a href="javascript:;"
                data-request="onSaveDish"
                data-request-update="'dishes/dishes': '#partialDishesDishes'"
                data-request-success="$('#dishesPage').toggleClass('edit-mode')"
                class="btn btn-lg btn-primary">
                Save
            </a>
            <a href="javascript:;"
                onclick="$('#dishesPage').toggleClass('edit-mode')"
                class="btn btn-lg btn-default">
                Cancel
            </a>
        </div>

        <div class="form-group">
            <input type="text" name="name" placeholder="Dish name" class="form-control input-lg" id="inputDishName" value="{{ dish.name }}" />
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" name="amount" class="form-control" placeholder="Amount" id="inputIngredientAmount" />
                            <div class="input-group-btn">
                                <select class="selectpicker" data-width="100px" name="type">
                                    <option>serves</option>
                                    <option>pieces</option>
                                    <option>grams</option>
                                    <option>kgs</option>
                                    <option>mls</option>
                                    <option>litres</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input 
                                type="text" 
                                name="ingredient" 
                                class="form-control" 
                                placeholder="Ingredient name" 
                                id="inputIngredientName" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group" id="partialDishesIngredients">
                {% partial 'dishes/ingredients' %}
            </ul>
        </div>
    </form>
</div>
