<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

    <!-- Sample item -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 dish-item" data-bg="#34495E">
        <div class="row">
            <div class="col-xs-4">
                <div class="image">
                    <img src="http://placehold.it/350x350" alt="" />
                </div>
            </div>
            <div class="col-xs-8">
                <h3 class="title" id="previewDishName"><span class="text-muted">No name</span></h3>
                <p>Ingredients: 9</p>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
    <form
        data-request="onAddIngredient"
        data-request-update="'dishes/ingredients': '#partialDishesIngredients'"
        data-request-success="clearIngredientsForm()">
        <div class="form-group btn-group btn-group-justified">
            <a href="#" 
                onclick="$('#dishesPage').toggleClass('edit-mode')"
                class="btn btn-lg btn-primary">
                Save
            </a>
            <a href="#" 
                onclick="$('#dishesPage').toggleClass('edit-mode')"
                class="btn btn-lg btn-default">
                Cancel
            </a>
        </div>

        <div class="form-group">
            <input type="text" name="name" placeholder="Dish name" class="form-control input-lg" id="inputDishName" value="{{ dishName }}" />
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" name="amount" class="form-control" placeholder="Amount" id="inputIngredientAmount" />
                            <div class="input-group-btn">
                                <select class="selectpicker" data-width="100px" name="type">
                                    <option>units</option>
                                    <option>grams</option>
                                    <option>kgs</option>
                                    <option>mls</option>
                                    <option>litres</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" name="ingredient" class="form-control" placeholder="Ingredient name" id="inputIngredientName" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group" id="partialDishesIngredients">
                {% partial 'dishes/ingredients' %}
            </ul>
        </div>
    </form>
</div>
