{% for ingredient in ingredients %}
    <li class="list-group-item">
        <input type="hidden" name="ingredients[name][]" value="{{ ingredient.name }}" />
        <input type="hidden" name="ingredients[amount][]" value="{{ ingredient.amount }}" />
        <input type="hidden" name="ingredients[type][]" value="{{ ingredient.type }}" />
        <button type="button" 
            class="close pull-right" 
            onclick="removeIngredientItem(this)">&times;</button>
        <p class="lead"><strong>{{ ingredient.name }}</strong> <small>{{ ingredient.amount }} {{ ingredient.type }}</small></p>
    </li>
{% endfor %}