description = "Default layout"
==
<?php
public function onStart()
{
    if (!Auth::check())
        return Redirect::to('/');

    $this['activeWeek'] = Session::get('dishsmith_active_week', 'A');
    $this['availableWeeks'] = Responsiv\DishSmith\Models\Dish::getWeeksForUser(Auth::getUser());

    // Reset the active week because it is no longer available
    if (!in_array($this['activeWeek'], $this['availableWeeks'])) {
        Session::put('dishsmith_active_week', 'A');
        $this['activeWeek'] = 'A';
    }
}

public function onChangeWeek()
{
    Session::put('dishsmith_active_week', post('week'));
    return Redirect::to(URL::current());
}

public function onLogout()
{
    Auth::logout();
    return Redirect::to('/');
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ this.page.title }} - DishSmith</title>
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        <link href="{{ [
            'assets/css/theme.css',
            'assets/vendor/bootstrap-select/bootstrap-select.css',
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="default-layout">

        <div class="container" id="layout-header-container">
            <div class="row">
                <div class="col-sm-5">
                    <!-- Header -->
                    <header id="layout-header">
                        <h1 class="logo">
                            <a href="/">
                                <i class="icon-food"></i> <span>Dish</span> Smith
                            </a>
                        </h1>
                    </header>
                </div>

                <div class="col-sm-7">
                    {% if availableWeeks %}
                        <div class="active-day pull-right">
                            <form>
                                <select
                                    name="week"
                                    class="selectpicker"
                                    data-width="150px"
                                    data-style="btn-primary"
                                    data-request="onChangeWeek">
                                    {% for week in availableWeeks %}
                                        <option
                                            value="{{ week }}"
                                            data-icon="icon-calendar-empty"
                                            {% if week == activeWeek %}selected="selected"{% endif %}>
                                            &nbsp; Week {{ week }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    {% endif %}

                    <!-- Nav -->
                    <nav id="layout-nav" class="pull-right">
                        <ul class="nav nav-tabs">
                            {% partial "menu" %}
                        </ul>
                    </nav>

                </div>
            </div>

            <div class="user-menu">

            </div>
        </div>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">
                {% page %}
            </div>
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/vendor/fileupload/ui-widget.js',
            'assets/vendor/fileupload/fileupload.js',
            'assets/vendor/fileupload/iframe-transport.js',
            'assets/javascript/app.js',
            'assets/javascript/fileupload.js'
        ]|theme }}"></script>
        {% framework %}

        {% placeholder scripts %}

        <!-- Fonts -->
        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Lobster+Two:400,400italic,700,700italic:latin' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })(); 
        </script>

    </body>
</html>