description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - DishSmith</title>
        <meta name="author" content="October CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        <link href="{{ [
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>

        <div class="container" id="layout-header-container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- Header -->
                    <header id="layout-header">
                        <h1><i class="icon-food"></i> <i>Dish</i> Smith</h1>
                    </header>
                </div>
                <div class="col-sm-8">
                    <!-- Nav -->
                    <nav id="layout-nav" class="pull-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">Dish</a></li>
                            <li><a href="#">Plan</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">
                {% page %}
            </div>
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js', 
            'assets/javascript/app.js'
        ]|theme }}"></script>
        {% framework %}

        <!-- Fonts -->
        <script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Lobster+Two:400,400italic,700,700italic:latin' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })(); 
        </script>

    </body>
</html>