<li class="start-banner">
    <span>Week A</span>
</li>

{% for dish in dishes %}
    <li>
        <h5 class="day">
            Day {{ loop.index }}
        </h5>
        <div class="image">
            <img src="{{ dish.getPic }}" alt="" />
        </div>
        <h3 class="title">{{ dish.name }}</h3>

        <ul class="ingredients">
            {% for ingredient in dish.ingredients %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}

